<div class="my-profile">
  <div>
    <div class="photo-profile">
      <img src="" alt="">
    </div>
    <a>Long Name</a>
  </div>
  <div class="show-username">
    <a>Username</a>
  </div>
  <div class="total-post">
    <a style="font-weight: bolder;">5</a>
    <a>Posts</a>
  </div>
</div>

<div class="container">
  <div class="img">
    <img src="" alt="">
  </div>
  <div class="caption">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, molestias?</p>
  </div>
  <div class="action">
    <a class="btn edit" href="">Edit</a>
    <a class="btn delete" href="">Delete</a>
  </div>
</div>
<div class="container">
  <div class="img"></div>
  <div class="caption">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, molestias?</p>
  </div>
  <div class="action">
    <a class="btn edit" href="">Edit</a>
    <a class="btn delete" href="">Delete</a>
  </div>
</div>
<div class="container">
  <div class="img"></div>
  <div class="caption">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, molestias?</p>
  </div>
  <div class="action">
    <a class="btn edit" href="">Edit</a>
    <a class="btn delete" href="">Delete</a>
  </div>
</div>
<div class="container">
  <div class="img"></div>
  <div class="caption">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, molestias?</p>
  </div>
  <div class="action">
    <a class="btn edit" href="">Edit</a>
    <a class="btn delete" href="">Delete</a>
  </div>
</div>
<div class="container">
  <div class="img"></div>
  <div class="caption">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, molestias?</p>
  </div>
  <div class="action">
    <a class="btn edit" href="">Edit</a>
    <a class="btn delete" href="">Delete</a>
  </div>
</div>