<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/loginRegister.css">
  <title>Visit</title>
</head>
<body>
  <main>
    <div class="main">
      <div class="image">

      </div>
      <div class="right">
        <div class="form">
          <h1>Visit</h1>
          <form action="" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="role">Role</label>
            <input type="text" name="role" id="role">
            <button type="submit">Register</button>
          </form>
          <a href="">Login</a>
        </div>
      </div>
    </div>
  </main>
</body>
</html>