<% if (result.length !== 0){ %> 
<% result.forEach(el => { %>
  <div class="container">
    <div class="name">
      <a><%= el.User.email %></a>
    </div>
    <div class="img">
      <img src="<%= el.imgUrl %>" alt="">
    </div>
    <div class="caption">
      <h4><%= el.title %></h4>
      <p><%= el.content %></p>
    </div>
  </div>
<% }); %> 
<% } %>