<form class="form-add" action="" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="content">Content</label>
  <input type="text" name="content" id="content">
  <label for="imgUrl">Image URL</label>
  <input type="text" name="imgUrl" id="imgUrl">
  <label for="TagId">Tag</label>
  <select name="TagId" id="TagId">
    <option disabled hidden selected>--- Select Tag ---</option>
    <% result.forEach(el => { %>
      <option value="<%= el.id %>"><%= el.name %></option>
    <% }); %> 
  </select>
  <div>
    <button class="btn add" type="submit">Add Post</button>
  </div>
</form>  