<form class="form-edit" action="" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="title" id="title">
  <label for="lastName">Last Name</label>
  <input type="text" name="content" id="content">
  <label for="imgUrl">Profile Image URL</label>
  <input type="text" name="imgUrl" id="imgUrl">
  <div>
    <button class="btn edit" type="submit">Edit Profile</button>
  </div>
</form>   